* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: #e61a1a;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  width: 100%;
}

header, .services_text, .our-advantages-text, footer, .about_us_text{
  background-color: #b50e17;
}

.info_p2, .text_about_body p{
  color: #f8adba;
  /* color: green; */
}

.wrapper{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main{
  margin-top: 80px;
  flex: 1 1 auto;
}
.logo {
	width: 100px;
	height: 100px;
  cursor: pointer;
}

.nav__links a,
.cta, a, .footer__rows__h, .contact__info li, h1, p, h2{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links, .advantages-list {
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a{
  transition: color 0.3s ease 0s;
}

.nav__links li a:hover{
  color: #821117;
}

.cta {
  padding: 9px 25px;
  background-color: #d1262f;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

.cta:hover {
  background-color: #821117;
}

.container h1{
  padding-top: 10px;
  text-align: center;
}


.advantages_list_div{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 100px;
  border: 7px solid white;
  padding: 20px;
  padding-bottom: 70px;
  border-radius: 50px;
}

.advantages-item{
  padding: 15px;
  width: 180px;
  height: 220px;
  margin-top: 20px;
  text-align: center;
}

.service_engraving{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 100px;
}

.text_about_left, .text_about_right{
  border-radius: 50px;
  padding:20px;
  transition: background-color 0.3s ease 0s;
}

.text_about_left:hover, .text_about_right:hover{
  background-color: #b50e17;
}

.text_about_left{
  width:45%;
  padding-right: 70px; 
}
.text_about_right{
  width: 45%;
 
}
.text_about_body{
  margin-top: 30px;
}
.list_photos{
  width: 50%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.photo{
  width: 260px;
  height: 240px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.photo img{
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

/*FOOTER*/
footer{
  display: flex;
  justify-content: space-between;
  padding: 30px 20%;

  
}
.quick__links__list li a:hover {
  color: #821117;
}
.quick__links__list li a {
  transition: color 0.3s ease 0s;
}


.our-advantages{
  padding: 10%;
}

.our_services{
  padding: 10%;
}



.contact-h1{
  font-size: 70px;
}



.contact-information p{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color:  #53697a;
  text-decoration: none;
}

.row{
  padding: 20px;
} 
.quick__links__list{
    columns: 2;
}
.quick__links__list, .contact__info{
  list-style-type: none;
  margin: 20px 0px;
}
.quick__links__list li{
  padding: 5px 0px;
}

.contact__info li{
  margin: 10px 0px;
  display: flex;
  align-items: center;
}
.contact__info li p{
  padding: 0px 10px;
}
/*SOCIAL MEDIA*/

/*main*/

/*.container{
  width: 1170px;
  margin: 0 auto;
}*/
.info{
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 60px 10%;
}
.info_p1{
  width: 500px;
  font-size: 20px;
}
.info_p2{
  width: 500px;
  font-size: 15px;
}

.about_us_text{
  font-size: 40px;
  margin-top: 70px;
  margin-left: 10%;
  border-radius: 50px;
  padding: 15px;
  padding-left: 25px;
  width: 250px;
}
.our-advantages-text{
  font-size: 40px;
  margin-top: 70px;
  border-radius: 50px;
  padding: 15px;
  padding-left: 25px;
  width: 600px;
}

.text_about_header{
  font-size: 30px;
}
.services_text{
  font-size: 40px;
  margin-top: 70px;
  border-radius: 50px;
  padding: 15px;
  padding-left: 25px;
  width: 25%;
}
/*CONTACTS*/
.contact-main{
  padding: 10%;
}
.contact-information{
  margin-top: 40px;
}

.contact-list{
  padding-top: 13px;
}